
<script>

    function SystemStatGridOnError(e) { 
        SystemStatGrid.cancelChanges();
            logGridError(e);
    }

    function SystemStatGridOnEdit(e) {
        if (e.model.isNew()) {
            e.model.set("SystemRuleSystemRuleId", getSystemId().SystemRuleId);
        }
    }
</script>

<div id="ContentGridBox">
@(Html.Kendo().Grid<Splintered_Universe.Models.VM.SystemStatVM>()
    .Name("SystemStatGrid")
    .Columns(columns =>
    {
        columns.Command(c =>
        {
                c.Edit();
                c.Destroy();
        }).Width(60);
        columns.Bound(p => p.SystemStatId).Title("Id").Hidden(true);
        columns.Bound(p => p.SystemRuleSystemName).Title("System").Width(200);
        columns.Bound(p => p.Name).Title("Name");
    })
    .DataSource(dataSource => dataSource
        .Ajax()
        .ServerOperation(false)
        .Model( m => {
            m.Id(p => p.SystemStatId);
            m.Field(f => f.SystemStatId).Editable(false);
        })
        .Events( events => events.Error("SystemStatGridOnError"))
        .Read(read => read.Action("ReadSystemStats", "SystemStat").Data("getSystemId"))
        .Create( create => create.Action("CreateSystemStat", "SystemStat"))
        .Update( update => update.Action("UpdateSystemStat", "SystemStat"))
        .Destroy( destroy => destroy.Action("DestroySystemStat", "SystemStat"))
        .Sort( s => s.Add(sc => sc.Name).Ascending())
        .PageSize(15)
    )
    .Events( grdEvt => grdEvt.Edit("SystemStatGridOnEdit"))  
    .Editable( settings => settings.Mode(GridEditMode.PopUp)
        .DisplayDeleteConfirmation(true)
        .Window( window => window.Visible(true).Title("Add / Edit Stat").Width(420).Actions(a => a.Clear()))
    )
    .ToolBar(t => {
            t.Create().Text("");
    })
    .Selectable( s => s.Enabled(true))
    .Pageable( p => p.Refresh(true).PageSizes(true).PageSizes(new int[] {15,25,50}))
    .Sortable( s => s.SortMode( GridSortMode.SingleColumn))
    .Filterable(filterable => filterable.Enabled(false))
    .ColumnMenu(colMenu => colMenu.Enabled(false))
    .Reorderable( reordering => reordering.Columns(false))
    .Resizable( r => r.Columns(true))
    .Scrollable(s => s.Height(400))
)
</div>

<script>
    $(function () {
        SystemStatGrid = $("#SystemStatGrid").data("kendoGrid");
    });
</script>

