<style>
 
</style>

<script>
    var charactersGrid;

    function charactersGridOnError(e) { 
        charactersGrid.cancelChanges();
            logGridError(e);
    }
</script>

<div id="ContentGridBox">
@(Html.Kendo().Grid<Splintered_Universe.Models.VM.CharacterVM>()
    .Name("charactersGrid")
    .Columns(columns =>
    {
        columns.Command(c =>
        {
                c.Edit();
                c.Destroy();
        }).Width(60);
        columns.Bound(p => p.CharacterId).Title("Id").Hidden(true);
        columns.Bound(p => p.Name).Title("Name");
        columns.Bound(p => p.Player).Title("Player");
        columns.Bound(p => p.Campaign).Title("Campaign");
    })
    .DataSource(dataSource => dataSource
        .Ajax()
        .ServerOperation(false)
        .Model( m => {
            m.Id(p => p.CharacterId);
            m.Field(f => f.CharacterId).Editable(false);
        })
        .Events( events => events.Error("charactersGridOnError"))
        .Read(read => read.Action("Read", "Character"))
        .Create( create => create.Action("Create", "Character"))
        .Update( update => update.Action("Update", "Character"))
        .Destroy( destroy => destroy.Action("Destroy", "Character"))
        .Sort( s => s.Add(sc => sc.Name).Ascending())
        .PageSize(15)
    )
    .Editable( settings => settings.Mode(GridEditMode.PopUp)
        .DisplayDeleteConfirmation(true)
        //.TemplateName("UsersEdit")
        .Window( window => window.Visible(true).Title("Add / Edit Character").Width(420).Actions(a => a.Clear()))
    )
    .ToolBar(t => {
            t.Create().Text("");
    })
    .Selectable( s => s.Enabled(true))
    .Pageable( p => p.Refresh(true).PageSizes(true).PageSizes(new int[] {15,25,50}))
    .Sortable( s => s.SortMode( GridSortMode.SingleColumn))
    .Filterable(filterable => filterable.Enabled(false))
    .ColumnMenu(colMenu => colMenu.Enabled(false))
    .Reorderable( reordering => reordering.Columns(false))
    .Resizable( r => r.Columns(true))
    .Scrollable(s => s.Height(400))
)
</div>

<script>
    $(function () {
        // Notice that the Name() of the tabstrip is used to get its client-side instance
        charactersGrid = $("#charactersGrid").data("kendoGrid");
    });
</script>
